<?xml version="1.0" encoding="utf-8"?>
<!--suppress ALL -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aloogn.famil_school">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.aloogn.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="com.aloogn.view.LoginActivity" />
        <activity android:name="com.aloogn.view.TeacherMainActivity" />
        <activity android:name="com.aloogn.view.ResetPasswordActivity" />
        <activity android:name="com.aloogn.view.FamilyMainActivity" />
        <activity android:name="com.aloogn.view.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.aloogn.view.PersonalInformationFamilyActivity" />
        <activity android:name="com.aloogn.view.PersonalInformationSchoolActivity" />
        <activity android:name="com.aloogn.view.NoticeFamilyActivity" />
        <activity android:name="com.aloogn.view.HomeworkFamilyActivity" />
        <activity android:name="com.aloogn.view.AchievementFamilyActivity" />
        <activity android:name="com.aloogn.view.GrowRecordFamilyActivity" />
        <activity android:name="com.aloogn.view.AddressBookActivity" />
        <activity android:name="com.aloogn.view.UpdatePasswordActivity" />
        <activity android:name="com.aloogn.view.FamilyPersonalDetailsActivity" />
        <activity android:name="com.aloogn.view.SchoolPersonalDetailsActivity" />
        <activity android:name="com.aloogn.view.NoticeSchoolActivity" />
        <activity android:name="com.aloogn.view.NoticeSchoolAreledyActivity" />
    </application>

</manifest>